.nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.link {
    /* display: inline-block; */
    text-decoration: none;
    padding: 12px;
}

.btn{
   margin-left: 15px;
}
